.container{
  display: flex;
  flex-direction: column;
  height: 43rem;
  border-right: 2px solid #ccc;

}

/* .header{
  height: 3.5rem;
  background-color: #f0f2f5;
} */

/* .search{
  height: 3.5rem;
  background-color:blue;

} */

.chats{
  height: 36rem;
  /* background-color: green; */
}